@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    background: #262329;
    overflow-x: hidden;
}
.container-fluid-slides{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    background: gray;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.row-loginButton{
    padding-bottom: 1rem;
}
.login h1{
    color: white;
}
.login h3{
    color: white;
}
.btn-primary{
    background-color: #0339fc;
    border: 1px solid #0339fc;
}
.logo{
    height: auto;
    width: auto;
    max-height: 90px;
    max-width: 25px;
    margin-bottom: 2px;
    margin-right: 3px;
    padding: 0;
}

.foot{
    display: block;
}
.foot p{
    color: white;
}

hr.light{
    border: 0;
    clear:both;
    display:block;
    width: 25%;
    background-color:white;
    height: 1px;
}


.foot-img{
    height: auto;
    width: auto;
    max-height: 350px;
    max-width: 200px;
}

/*html {*/
/*    background-color: #0092ff;*/
/*    width: 93.45%;*/
/*    height: 78.55%;*/
/*}*/
/*body {*/
/*    padding: 70px 0;*/
/*    text-align: center;*/
/*    height: 106%; !* 93% *!*/
/*    width: 106%;*/
/*    background: #212121;*/
/*}*/
/*h1 {*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    margin: 100px 0 0 -35px;*/
/*    padding: 0;*/
/*    font-family: "Lucida Console";*/
/*    font-style: oblique;*/
/*    color: #ffffff;*/
/*    font-size:50px;*/
/*}*/

/*.regLogin{*/
/*    background-color: #ff0000;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin-left: -125px;*/
/*    cursor: pointer;*/
/*    width: 225px;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    display: inline-block;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #000000;*/
/*}*/

/*.googlePng{*/
/*    position: absolute;*/
/*    top: 11%;*/
/*}*/

/*.googleLogin{*/
/*    background-color: #115afc;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin-left: -125px;*/
/*    cursor: pointer;*/
/*    width: 225px;*/
/*    top: 60%;*/
/*    left: 50%;*/
/*    display: inline-block;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #000000;*/
/*}*/

