
html, body{
    background: #262329;
    overflow-x: hidden;
}
.title{
    color:white;
}
h1{
    color: white;
}
.login{
    padding-top: 8%;
}

.form-control{
    width: 25%;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.submit{
    -webkit-appearance: button;
    -moz-appearance: button;
    background-color: #124a91;
    border: 1px solid #124a91;
    color: white;
    margin-top: 20px;
}
/*html {*/
/*    background-color: #0092ff;*/
/*    width: inherit;*/
/*}*/
/*body {*/
/*    padding: 70px 0;*/
/*    text-align: center;*/
/*    background: #212121;*/
/*}*/
/*.title{*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    !* margin: 100px 0 0 -35px; *!*/
/*    padding: 0;*/
/*    font-family: "Lucida Console";*/
/*    font-style: oblique;*/
/*    color: #ffffff;*/
/*    font-size: 50px;*/
/*    position: absolute;*/
/*    left: 45%;*/
/*    top: 30%;*/
/*}*/
/*.centerbody{*/
/*    width: inherit;*/
/*    height: 75px;*/
/*    align-content: center;*/
/*    padding: 10px;*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    left: 44.1%;*/
/*}*/

input[type=text]{
    width: 225px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin-bottom: 10px;
}

input[type=password]{
    width: 225px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;

}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type=password]:focus{
    border-color:dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

/*input[type=submit]{*/
/*    background-color: #ff0000;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin-left: -125px;*/
/*    cursor: pointer;*/
/*    width: 225px;*/
/*    top: 175%;*/
/*    left: 50%;*/
/*    display: inline-block;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #000000;*/
/*}*/