
html, body{
    background: #262329;
}
h1{
    color: white;
}
.showTable{
    background-color: #124a91;
    border: 1px solid #124a91;
}
/*.btn-viewUser{*/
/*    background: #124a91;*/
/*}*/
/*.btn-viewUser:hover{*/
/*    background: #124a91;*/
/*}*/
/*html {*/
/*    background-color: #0092ff;*/
/*    width: inherit;*/
/*}*/
/*body {*/
/*    padding: 70px 0;*/
/*    text-align: center;*/
/*    background: #212121;*/
/*}*/
/*.message{*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    margin: 100px 0 0 -35px;*/
/*    padding: 0;*/
/*    font-family: "Lucida Console";*/
/*    font-style: oblique;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*}*/

/*input[class = showTable]{*/
/*    background-color: #ff0000;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin-left: -125px;*/
/*    cursor: pointer;*/
/*    width: 225px;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    display: inline-block;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #000000;*/
/*}*/

/*button{*/
/*    background-color: #ff0000;*/
/*    position: center;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    cursor: pointer;*/
/*    width: 225px;*/
/*    margin-top: 3px;*/
/*    margin-left: -5px;*/
/*    display: inline-block;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #000000;*/
/*}*/

/*input[type=password]{*/
/*    width: 225px;*/
/*    top: 45%;*/
/*    left: 50%;*/
/*    display: inline-block;*/
/*    position: center;*/
/*    margin-top: 20px;*/
/*    margin-left: -5px;*/
/*    border: 2px solid #aaa;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*    padding: 8px;*/
/*    box-sizing: border-box;*/
/*    transition: .3s;*/
/*}*/

/*input[type=password]:focus{*/
/*    border-color:dodgerBlue;*/
/*    box-shadow: 0 0 8px 0 dodgerBlue;*/
/*}*/

/*p{*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    margin: 100px 0 0 -35px;*/
/*    padding: 0;*/
/*    font-family: "Lucida Console";*/
/*    font-style: oblique;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*}*/